<ion-header>
  <ion-toolbar>
    <ion-title>
      Planejamento-Financeiro
    </ion-title>
    <ion-buttons slot='primary'>
      <ion-button [routerLink]='["/novo-planejamento"]'>
        <ion-icon name='add'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  bem vindo ao App-planeja.
  <br/>
  <br/>
  <div *ngIf="planejamentos.length > 0">
    
    <h2>Fique por dentro do nosso app-planeja</h2>
    <br/>
    <div *ngFor="let planejamentos of planejamentos">
      <ion-card>
        <ion-card-content>
            <h2>
                {{planejamento.nome}}
            </h2>
            <p>
              {{planejamento.descricao}}
            </p>
            <p style="text-align: right">
              <ion-button color="danger" fill="outline" size='small' (click)="excluir(planejamento.nome)">Excluir</ion-button>
            </p>
        </ion-card-content>
        </ion-card>
    </div>
  </div>
  <div *ngIf="planejamentos.length === 0">
    <p>Ainda Não há Nenhum planejamento cadastrado.</p>
    <ion-button [routerLink]='["/novo-planejamento"]'>Cadastrar Agora os seus planos</ion-button>
  </div>


</ion-content>
